name: GitHub Streak Stats 2

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight UTC
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Streak Stats
        run: |
          curl -o streak-stats.svg "https://streak-stats.demolab.com/?user=aaravjaichand&theme=tokyonight&border_radius=10&fire=DD2727"

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add streak-stats.svg
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update streak stats" && git push)
